{%extends 'cms/base.html' %}
{%block content%}


<hr/>


  <div class="col md-9">
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
      <div class="col-md-7">
        <h5>Referral Payouts</h5>
      </div>
      
      <div class="col-md-5">
        <div class="row">
          <div class="col">
            <a href="{% url 'accounts:export_ref_csv'  %}" class="btn btn-primary">Export Pending to CSV</a>
          
          </div>
          
        </div>
        
      </div>
    </div> 
    <hr>
    <hr>
    
    <div class="card card-body">
        <h6 class="card-subtitle mb-2 text-muted">Search</h6>
  <form method="GET">
      {{myfilter.form}}
      <input type="submit" value="Filter" class="btn btn-primary">
  </form>
    </div>
    <hr>
    <form method="post" action="{% url 'accounts:approve-refpayouts' %}" onsubmit="return confirm('Have you gone through the selected payouts correctly?');">
      {% csrf_token %}
    <div class="row">
      <div class="col-md-9">
        <h6>Action</h6>
      </div>
      
      <div class="col-md-3">
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-secondary">Approve Selected Payout</button>
          
          </div>
          
        </div>
        
      </div>
    </div> 
    <hr>
    <div class="card card-body">
     
      <table class="table">
        <thead>
          <tr>
            <th><input type="checkbox" onClick="toggle(this)"></th>
            <th scope="col">Name</th>
            <th scope="col">Bank name</th>
            <th scope="col">Bank no</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Downline</th>
            <th scope="col">Update</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          {%for payout in payouts %}
          <tr>
            <td><input type="checkbox" name="payouts" id="select_payout" value="{{payout.id}}"></td>
            <td>{{payout.user.full_name}}</td>
            <td>{{payout.user.bank_name}}</td>
            <td>{{payout.user.account_no}}</td>
            <td>{{payout.amount}}</td>
            <td>{{payout.status}}</td>
            <td><a href="{%url 'accounts:referrals' pk=payout.user.pk %}"
             >View</a></td>
            {%if request.user.is_superuser %}
            <td><a href="{%url 'accounts:update-refpayout' pk=payout.pk c_pk=payout.user.pk %}"
              class="btn btn-success btn-sm">Update</a></td>
          <td><a href="{%url 'accounts:delete-refpayout' pk=payout.pk %}"
              class="btn btn-danger btn-sm">Remove</a></td>
            {%else%}
            <td><a href="{%url 'accounts:update-refpayout' pk=payout.pk c_pk=payout.user.pk %}"
              class="btn btn-success  disabled btn-sm">Update</a></td>
          <td><a href="{%url 'accounts:delete-refpayout' pk=payout.pk %}"
              class="btn btn-danger disabled btn-sm">Remove</a></td>
                {%endif%}
          {%endfor%}
        </tbody>
      </table>
    </div>
  </form>
  </div>
  <br/>
  <hr>
  {% if payouts.has_other_pages %}
<div class="pagination">
  {% if payouts.has_previous %}
    <a href="?page={{ payouts.previous_page_number }}">&laquo;</a>
  {% else %}
    <a class="disabled"><span>&laquo;</span>
  {% endif %}
  {% for i in payouts.paginator.page_range %}
    {% if payouts.number == i %}
      <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
    {% else %}
      <a href="?page={{ i }}">{{ i }}</a>
    {% endif %}
  {% endfor %}
  {% if payouts.has_next %}
    <a href="?page={{ payouts.next_page_number }}">&raquo;</a>
  {% else %}
    <a class="disabled"><span>&raquo;</span>
  {% endif %}
</div>
{% endif %}
{%endblock%}