<hr>
<div class="row">
  <div class="col">
    <div class="card text-white bg-info mb-3">
      <h6 class="card-header">Total Payment Submissions</h6>
      <div class="card-body">
        <h3 class="card-text">{{total_o}}</h3>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card text-white bg-info mb-3">
      <h6 class="card-header">Submissions Approved</h6>
      <div class="card-body">
        <h3 class="card-text">{{delivered}}</h3>
      </div>
    </div>
  </div>



  <div class="col">
    <div class="card text-white bg-info mb-3">
      <h6 class="card-header">Submissions Pending</h6>
      <div class="card-body">
        <h3 class="card-text">{{pending}}</h3>
      </div>
    </div>
  </div>

<div class="col">
  <div class="card text-white bg-info mb-3">
    <h6 class="card-header">Simple Contributions </h6>
    <div class="card-body">
      <h3 class="card-text">{{total_s}}</h3>
    </div>
  </div>
</div>
</div>
<hr>
<div class="row">

  <div class="col">
    <div class="card text-white bg-info mb-3">
      <h6 class="card-header">Compound Contributions </h6>
      <div class="card-body">
        <h3 class="card-text">{{total_compound}}</h3>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-white bg-info mb-3">
      <h6 class="card-header">Due Payouts </h6>
      <div class="card-body">
        <h3 class="card-text">{{total_payouts}}</h3>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card text-white bg-info mb-3">
      <h6 class="card-header">Payouts Approved</h6>
      <div class="card-body">
        <h3 class="card-text">{{approved_payouts}}</h3>
      </div>
    </div>
  </div>



  <div class="col">
    <div class="card text-white bg-info mb-3">
      <h6 class="card-header">Payouts Pending</h6>
      <div class="card-body">
        <h3 class="card-text">{{pending_payouts}}</h3>
      </div>
    </div>
  </div>
</div>