{%extends 'cms/base.html' %}
{%block content%}


<hr/>

<div class="row">
 
 
  <div class="col">
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    <h5>Simple Contribution Top Ups</h5>
    <hr>
    <div class="card card-body">
      <h6 class="card-subtitle mb-2 text-muted">Search</h6>
<form method="GET">
    {{myfilter.form}}
    <input type="submit" value="Filter" class="btn btn-primary">
</form>
  </div>
    <div class="card card-body">
      <table class="table">
        <thead>

          <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Proof</th>
            <th scope="col">On</th>
            <th scope="col">Status</th>
            <th scope="col">Update</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          {%for simple in simples %}
          <tr>
            <td>{{simple.user.full_name}}</td>
            <td>{{simple.amount}}</td>
            {%if simple.proof%}
            <td><a href="{{simple.proof.url}}">view proof </a></td>
            {%else%}
            <td>{{simple.proof}}</td>
            
            {%endif%}
            {%if simple.topup_date %}
            <td>{{simple.topup_date}}</td>
            {%else%}
            <td>{{simple.date_added}}</td>
            {%endif%}
            <td>{{simple.status}}</td>
            
            {%if request.user.is_superuser %}
            <td><a href="{%url 'accounts:updateS' pk=simple.pk c_pk=simple.user.pk %}"
              class="btn btn-success btn-sm">Update</a></td>
          <td><a href="{%url 'accounts:deleteS' pk=simple.pk %}"
              class="btn btn-danger btn-sm">Remove</a></td>
            {%else%}
            <td><a href="{%url 'accounts:updateS' pk=simple.pk c_pk=simple.user.pk %}"
                class="btn btn-success disabled btn-sm">Update</a></td>
            <td><a href="{%url 'accounts:deleteS' pk=simple.pk %}"
                class="btn btn-danger disabled btn-sm">Remove</a></td>
                {%endif%}
          </tr>
          {%endfor%}
   
        </tbody>
      </table>
    </div>
   </div>



</div>   
</div>
<br/>
<hr>
{% if simples.has_other_pages %}
<div class="pagination">
{% if simples.has_previous %}
  <a href="?page={{ simples.previous_page_number }}">&laquo;</a>
{% else %}
  <a class="disabled"><span>&laquo;</span>
{% endif %}
{% for i in simples.paginator.page_range %}
  {% if simples.number == i %}
    <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
  {% else %}
    <a href="?page={{ i }}">{{ i }}</a>
  {% endif %}
{% endfor %}
{% if simples.has_next %}
  <a href="?page={{ simples.next_page_number }}">&raquo;</a>
{% else %}
  <a class="disabled"><span>&raquo;</span>
{% endif %}
</div>
{% endif %}
{%endblock%}