
{% extends "cms/base.html" %}
{%load static %}
{% block content %}

<head>
   <link rel="stylesheet" href="{% static '/css/master.css' %}">
</head>
<br>
<br>
<div class="row profile">
    <div class="col-md-3">
        <div class="profile-sidebar">
            <div class="profile-usertitle">
             
                <div class="profile-usertitle-name">
                    {{customer.username}}
                </div>
                <div class="profile-usertitle-job">
                    <span class="notify-badge badge badge-info">{{group}}</span> {%if customer.is_active%}<span class="badge badge-success">Active</span>{%else%}
                  <span  class="notify-badge badge badge-danger">Disabled</span>{%endif%}
                
                </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            
        </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
               <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class="btn-danger btn" value="Update">
                </form>
            </div>
        </div>
        </div>
        {% endblock %}
