{% extends "cms/base.html" %}
{%load static %}
{% block content %}

<head>
 <link rel="stylesheet" href="{% static '/css/master.css' %}">
</head>
<br>
<br>
<div class="row profile">
  <div class="col-md-3">
      <div class="profile-sidebar">
        <form action="" method="post" enctype="multipart/form-data">
          <div class="profile-usertitle">
             
                  {% csrf_token %}
                  {{form.as_p}}
                  
              
          </div>
          <!-- END SIDEBAR USER TITLE -->
          <!-- SIDEBAR BUTTONS -->
          <div class="profile-userbuttons">
            <button type="submit" class="btn btn-primary btn-sm">Update</button>
          </div>
        </form>
      </div>
      </div>
      <div class="col-md-9">
          <div class="profile-content">
            <table class="table">
              <thead>
      
                <tr>
                  <th scope="col">Name</th>
                  <td>{{compound.user.full_name}}</td>
                </tr>
            
                <tr>
                  <th scope="col">Amount</th>
                  <td>{{compound.amount}}</td>
                </tr>
             
                <tr>
                  <th scope="col">On</th>
                  <td>{{compound.date_requested}}</td>
                </tr>
                <tr>
                    <th scope="col">Due</th>
                    <td>{{compound.due}}</td>
                  </tr>
                 <tr>
                  <th scope="col">Status</th>
                  <td>{{compound.status}}</td>
                  </tr>
                  </thead>
                  

                  </table>
           
          </div>
         
      </div>
      
      </div>
      
{% endblock%}