{% load static %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
 
  <img  src="{% static 'Affluena-icon.png'  %}" height="60px"  style="margin-right: 20px; padding: 10px;" alt="Affluena"/>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="{%url 'logout' %}">Logout</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link " href="{% url 'board' %}">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"href="{% url 'accounts:orders' %}">
              <span data-feather="shopping-cart"></span>
              payment submissions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:members' %}">
              <span data-feather="users"></span>
              Members
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:payouts' %}">
              <span data-feather="file"></span>
              Due Payouts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:refpayouts' %}">
              <span data-feather="file"></span>
              Due Referral Payouts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:all-payouts' %}">
              <span data-feather="file"></span>
              All Payouts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:all-refpayouts' %}">
              <span data-feather="file"></span>
              All Referral Payouts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:simples' %}">
              <span data-feather="bar-chart-2"></span>
             Simple Contributions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:simples' %}">
              <span data-feather="bar-chart-2"></span>
              Compound Contributions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>
