{%load static %}

<div style="text-align: center;">
    <img src='http://127.0.0.1:8000/static/Affluena-icon.png' alt="..." style="width:80px; max-width:100px;"/>
</h1>
<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
  <tr>
    <td style="width: 50%; padding: 10px; border: 1px solid rgb(0 213 160);">
      <p style="margin: 0; font-weight: bold; color: #333;">BILL TO:</p>
      <p style="margin: 0;">{{instance.account_name}}</p>
      <p style="margin: 0;"> {{instance.email}}</p>
     
    </td>
    <td style="width: 50%; padding: 10px; border: 1px solid rgb(0 213 160);">
      <p style="margin: 0; font-weight: bold; color: #333;">INVOICE NUMBER:</p>
      <p style="margin: 0;">{{instance.no}}</p>
      <p style="margin: 0; font-weight: bold; color: #333;">INVOICE DATE:</p>
      <p style="margin: 0;">{{instance.date}}</p>
    </td>
  </tr>
</table>
<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
  <tr>
    <th style="padding: 10px; border: 1px solid rgb(0 213 160); color: #333; text-align: left;">ITEM</th>
    <th style="padding: 10px; border: 1px solid rgb(0 213 160); color: #333; text-align: left;">DESCRIPTION</th>
    <th style="padding: 10px; border: 1px solid rgb(0 213 160); color: #333; text-align: right;">AMOUNT</th>
  </tr>
  <tr>
    <td style="padding: 10px; border: 1px solid rgb(0 213 160); color: #333;">Contribution</td>
    <td style="padding: 10px; border: 1px solid rgb(0 213 160); color: #333;">{{instance.contribution}}</td>
    <td style="padding: 10px; border: 1px solid rgb(0 213 160); color: #333; text-align: right;">NGN{{instance.amount}}</td>
    </tr>
    </table>
</div>